/* .orderControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-top: 3px;
} */

.cardControls{
    padding-top: 10px;
    /* display: block; */
    /* flex: 1 1 auto; */
    /* font-size: 10px; */
    /* font-weight: 700; */
    /* justify-items: end; */
}

/* .mealCount {
        width: 25px;
        padding: 2px;
        border-radius: 2px;
        border: 1px solid #ccc;
} */

/* button.cartControl {
    padding: 5px 0px;
} */

/* .hidden {
    display: none;
} */

.removeButton{
    display: block;
    width: 60px;
    padding: 8px;
    border-radius: 15px 0 0 15px;
    font-size: 10px;
}

.addButton {
    display: block;
    width: 60px;
    padding: 8px;
    border-radius: 0 15px 15px 0;
    font-size: 10px;
}

.cardControls {
    display: flex;
    justify-content: center;
    
}

.itemCounter {
    width: 30px;
    text-align: center;
    font-weight: 700;
}