.addMealButton {
    display: block;
    /* width: 200px; */
    /* height: 80px; */
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    gap: 10px;
    background-color: #F2AB39;
}

.buttonTitle {
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    padding: 3px 10px;
    /* font-size: 12px; */
}