.buttonmain{
    display: block;
    /* width: 200px; */
    /* height: 80px; */
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    gap: 10px;
    background-color: #F2AB39;
}

.buttonTitle {
    font-size: 15px;
    font-weight: 700;
}

.cartItemsCounter {
    border-radius: 15px;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.95);
    }
    30% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1.10);
    }
    100% {
      transform: scale(1);
    }
  }
  